*{
    margin: 0;
    padding:0;
}
/* insertion de police depuis font transforter*/
@font-face {
    font-family: 'Futura';
    src: url('FuturaExtended.eot');
    src: url('FuturaExtended.eot?#iefix') format('embedded-opentype'),
        url('FuturaExtended.woff2') format('woff2'),
        url('FuturaExtended.woff') format('woff'),
        url('FuturaExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bran';
    src: url('BrannbollFet.eot');
    src: url('BrannbollFet.eot?#iefix') format('embedded-opentype'),
        url('BrannbollFet.woff2') format('woff2'),
        url('BrannbollFet.woff') format('woff'),
        url('BrannbollFet.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
header{
    height: 100vh;
    background: url("../img/fond.jpg") bottom right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav{
    position: fixed;
    left: 5%;
    top: 50%;
}


header nav ul{
    list-style: none;/*enlève les puces de la liste*/
}

header nav ul li{
    /*margin : 0 20px;/*ajoute des marges a gauche et a droite de la li*/
    padding: 10px 0;
    text-shadow: 2px 2px 6px black;
}
header nav ul li:nth-of-type(1){
    border-bottom: 3px solid white;
}

header nav ul li a{
    font-family: "Futura";
    text-decoration:none; /*enlève le soulignement*/
    color: white; /*change la couleur du texte*/
    font-weight:bold;/*change la graisse de la typo*/
    text-transform: uppercase;/* passe le texte en majuscule*/
    font-size: 30px;
}

header div{
    width: 250px ;
    height: 250px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
header div h1{
    color: white;
    text-align: center;
    font-family: "Bran";
    font-size: 40px;
    line-height: 46px;

}
header div h1::first-letter{
    text-transform: uppercase;
}
/****************** Fin header **************************/
/*style pour les deux sections **/

main section {
    width: 70%;
    padding: 100px 0;
    flex-wrap: wrap;
    display: flex;
}

main{
    display: flex;
    justify-content: flex flex-end;
    background: #333;
}
main section div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
main section>div{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 25px;
}
main section div img{ 
    width: 100%;
    opacity: 0,7;
    transition: 0.5s;
}

main section>div>div{/*sélectionne les div enfant des div de premier niveau*/
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(255, 255,255,0.8) teal;
    transform: scale(0.8);
    transition: 0.5s;
}
main section>div:hover div{
    transform: scale(0);
}
main section>div:hover img{
    transform: scale(1.2);
}

/************* footer ************************/
footer{
    height: 300px;
    background: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bran;
    color:white;
    font: size 20px;
}

footer p{
    color: white;
}
    